{% extends "base.html" %}
{% block title %}Аккаунт{% endblock %}
{% block main %}
<div class="wrapper">
        <div class="table">
            <div class="table__items">
                <div class="table__item">
                    <div class="table__name">Эконом</div>
                    <div class="table__close"><i class="fa-solid fa-xmark"></i></div>
                </div>
                <div class="table__item">
                    <div class="table__name">Эконом</div>
                    <div class="table__close"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>
            <div class="table__add"><i class="fa-solid fa-square-plus"></i></div>
        </div>
        <div class="container">
            <div class="main">
              <p>аккаунт</p>
            </div>
        </div>
    </div>
{% endblock %}