{% extends "base.html" %}
{% block title %}Заглавная{% endblock %}
{% block main %}
<div class="wrapper">
        <div class="table"></div>
        <div class="container">
            <div class="home">
                <div class="home__title">Отрасль иследования</div>
                <form action="/home">
                    <input type="submit" class="reset" value="Далее" />
                    <div class="__select" data-state="">
                      <div class="__select__title" data-default="Option 0">Option 0</div>
                      <div class="__select__content">
                        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                        <label for="singleSelect0" class="__select__label">Option 0</label>
                        <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect1" class="__select__label">Option 1</label>
                        <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" disabled />
                        <label for="singleSelect2" class="__select__label">Option 2 (disabled)</label>
                        <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect3" class="__select__label">Option 3</label>
                        <input id="singleSelect4" class="__select__input" type="radio" name="singleSelect" />
                        <label for="singleSelect4" class="__select__label">Option 4</label>
                      </div>
                    </div>

                  </form>
            </div>
        </div>
    </div>
{% endblock %}